html {
    text-align: center;
}

header {
    position: static;
    display: inline-flex;
    height: 64px;
    width: 100%;   
}

header h2 {
    display:inline-flex;
    padding-left: 16px;
    position: relative;
    left: 675px;
}

header img {
    height:50px;
    width: auto;
}

.mobile{
    display:none;
}

.banner {
    display: inline-flex;
    align-items: center;
    background-color: lightslategrey;
}

.banner img {
    padding: 32px 0;
    height:auto;
    width:60%;
}

.campus-life {
    display: inline-flex;
}

.practice {
    margin: 32px 24px;
    border: 1px solid grey
}

.practice img {
    width: 80%;
    height: auto;
}

.right {
    width: 40%;
    height: auto;
    margin-top: 32px;
}

.orientation {
    display: inline-flex;
}

.orientation img {
    height: auto;
    width:35%;
}

.our-campus {
    display: inline-flex;
}

.our-campus img {
    height: auto;
    width:35%;
}

.lecture {
    display: inline-flex;
}

.lecture img {
    height: auto;
    width:35%;
    background-color: slategrey;
}

.courses{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 32px 72px;
    background-color: grey;
}

.programmer img {
    height: auto;
    width:300px;
}

.comp-art img {
    height: auto;
    width:300px;
}

.design img {
    height: auto;
    width:300px;
}

.data img {
    height: auto;
    width:300px;
}

.business img {
    height: auto;
    width:300px;
}

.marketing img {
    height: auto;
    width:300px;
}

.exhibit {
    display:inline-flex;
}

.fisma img {
    height: auto;
    width:35%;
}

.Now img {
    height: auto;
    width:35%;
}

@media only screen and (max-width: 480px) {

}