html {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: static;
    display: inline-flex;
    height: 64px;
    width: 100%;   
}

.desktop {
    display: inline-flex;
}

header h1 {
    justify-content: center;
    margin-bottom: 32px;
}

header h2 {
    display:inline-flex;
    padding-left: 16px;
    position: relative;
    left: 675px;
}

header img {
    height:50px;
    width: auto;
}

.mobile{
    display:none;
}

.banner {
    display: inline-flex;
    align-items: center;
    background-color: lightslategrey;
}

.banner img {
    padding: 32px 0;
    height:auto;
    width:60%;
}

.campus-life {
    display: inline-flex;
}

.practice {
    margin: 32px 24px;
    border: 1px solid grey
}

.practice img {
    width: 80%;
    height: auto;
}

.right {
    width: 40%;
    height: auto;
    margin-top: 32px;
}

.orientation {
    display: inline-flex;
}

.orientation img {
    height: auto;
    width:35%;
}

.our-campus {
    display: inline-flex;
}

.our-campus img {
    height: auto;
    width:35%;
}

.lecture {
    display: inline-flex;
}

.lecture img {
    height: auto;
    width:35%;
    background-color: slategrey;
}

.courses{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 32px 72px;
    background-color: grey;
}

.programmer img {
    height: auto;
    width:300px;
}

.comp-art img {
    height: auto;
    width:300px;
}

.design img {
    height: auto;
    width:300px;
}

.data img {
    height: auto;
    width:300px;
}

.business img {
    height: auto;
    width:300px;
}

.marketing img {
    height: auto;
    width:300px;
}

.exhibit {
    display:inline-flex;
}

.fisma img {
    height: auto;
    width:35%;
}

.Now img {
    height: auto;
    width:35%;
}

/* Development of mobile version */
@media only screen and (max-width: 480px) {
    
    .mobile {
        display: inline-flex
    }

    .desktop {
        display: none;
    }
    
    header img {
        height:50px;
        width: auto;
        margin: 0 30px;
    }
    
    .banner {
        display: block;
        align-items: center;
        background-color: lightslategrey;
    }
    
    .banner img {
        padding: 32px 0;
        height:auto;
        width:100%;
    }

    .text h2 {
        
        font-size: 16px;
    }
    
    .campus-life {
        display: inline-flex;
    }
    
    .practice {
        display: none;
    }
    
    
    .right {
        width: cover;
        height: auto;
        margin-top: 32px;
        
    }
    
    .orientation {
       /* display: inline-flex; */
       display: block;
       width:400px;
    }
    
    .orientation img {
        height: auto;
        width:100%;

    }
    
    .our-campus {
        display: block;
        width:400px;
    }
    
    .our-campus img {
        height: auto;
        width:100%;
    }
    
    .lecture {
        display: block;
        width:400px;
    }
    
    .lecture img {
        height: auto;
        width:100%;
        background-color: slategrey;
    }
    
    .courses{
        display: block;
        padding: 32px 72px;
        background-color: white;
    }
    
    .course-text {
        display:none;
    }

    .programmer {
        background-color: gray;
        margin-top:16px;
        margin-bottom: 8px;
    }

    .programmer img {
        display:none;
    }
    
    .comp-art{
        background-color: gray;
        margin-bottom: 8px;
    }

    .comp-art img {
        display:none;
    }

    .design {
        background-color: gray;
        margin-bottom: 8px;
    }
    
    .design img {
        display:none;
    }
    
    .data {
        background-color: gray;
        margin-bottom: 8px;
    }

    .data img {
        display:none;
    }
    
    .business {
        background-color: gray;
        margin-bottom: 8px;
    }

    .business img {
        display:none;
    }
    
    .marketing {
        background-color: gray;
        margin-bottom: 8px;
    }

    .marketing img {
        display:none;
    }
    
    .exhibit {
        display:inline-flex;
    }
    
    .exhibit h3 {
        display: none;
    }

    .exhibit p {
        display: none;
    }

    .fisma {
        display: none;
    }
    
    .Now {
        display: none;
    }

    footer .terms {
        display: none;
    }
}