html {
    text-align: center;
}

header {
    position: static;
    display: inline-flex;
    height: 64px;
    width: 100%;
}

header h2 {
    padding: 0 8px;
    position: relative;
    left: 725px;
}

.banner {
    display: inline-flex;
    align-items: center;
    background-color: lightslategrey;
}

.banner img {
    height:auto;
    width:60%;
}

.campus-life {
    display: inline-flex;
}

.practice {
    margin: 32px 24px;
    border: 1px solid grey
}

.practice img {
    width: 80%;
    height: auto;
}

.right {
    width: 40%;
    height: auto;
}